* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 300, 600, 800;
  font-family: "Trebuchet MS", sans-serif;
}
/* styling for countries componnent */
.countries {
  /*  background-color: hsl(0, 0%, 98%); */
}

/* styling for nav Bar */
.bi-brightness-low-fill {
  /*  font-size: 1.5vw; */
  font-style: normal;
  font-weight: normal;
}
.toggleMode {
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  align-items: center;

  /* position: sticky;
  top: 0; */

  box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
}
/* page inputs */
/* .inputField {
  margin: 1.5rem;
  box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  background-color: white;
  width: 40vw;
} */

.PageInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /*  position: sticky; */
  top: 2vw;
  /* background-color: rgb(112, 109, 109); */

  /* background-color: white; */
}
/* input search field */
.inputfield {
  display: flex;
  margin: 2vw 0 2vw 4.5vw;
  padding: 1vw;
  width: 32vw;
  flex-direction: row;
  align-items: left;
  box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  background-color: white;
}
.inputfield input {
  border: none;
  outline: none;
  width: 80%;
  text-align: left;
}
.inputfield span {
  padding-right: 1.5vw;
}
.bi-search {
  font-size: 0.7rem;
}
/* select */
.select-form select {
  padding: 1vw;
  border: none;
  /*  margin: 2vw; */
  margin: 2vw 2vw 2vw 4.5vw;
  min-width: 10vw;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(69, 67, 67, 0.75);
}

/* country */
.country-card {
  width: 15rem;
  height: 18rem;
  border-radius: 3%;
  margin: 2vw;
  align-items: center;
  box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(69, 67, 67, 0.75);
}
.country-card img {
  width: 15rem;
  height: 8.5rem;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.country-card .caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  font-size: 0.9rem;
  /* color: black; */
}
/* countries */
.countries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ----------SELECT TAG ----------*/

/* ----------DEATILS PAGE ----------*/
.flag img {
  width: 80vw;
  object-fit: cover;
}
.button {
  grid-area: button;
  display: flex;
  align-items: flex-start;
  margin-top: 4vw;
}
.button .bi-arrow-left {
  font-style: normal;
  font-weight: bolder;
}
.flag {
  grid-area: flag;
}
.name-n-cap {
  grid-area: nameDetails;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.curr-n-code {
  grid-area: countryCode;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.border-countries {
  grid-area: borders;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper {
  display: grid;
  width: 99vw;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
  gap: 5vw;
  font-size: 4vw;
  grid-template-areas:
    "button"
    "flag"
    "nameDetails"
    "countryCode"
    "borders";
}
.borderCountry {
  border: 1px solid grey;
  width: 30%;
  margin: 1%;
}
.name-n-cap h3 {
  margin-bottom: 3vw;
}

.curr-n-code p,
.name-n-cap p,
.border-countries-head {
  margin-bottom: 2vw;
}

.bordersCon {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .details .button {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}*/
.wrapper .button button {
  /*  display: flex; */
  padding: 1vw 3vw 1vw 3vw;

  /* align-content: center;
  justify-content: space-evenly;
  justify-items: center; */
  text-align: center;
}
@media screen and (max-width: 650px) {
  .PageInputs {
    flex-direction: column;
    align-items: flex-start;
  }
  .inputfield {
    width: 90vw;
  }
  .select-form select {
    min-width: 40vw;
  }
}
@media screen and (min-width: 650px) {
  .wrapper {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw;
    margin-bottom: 5vw;
    gap: 3vw;
    font-size: 1vw;
    text-align: left;
    grid-template-areas:
      "button button button"
      "flag  nameDetails countryCode"
      "flag  nameDetails countryCode"
      "flag  nameDetails countryCode"
      "flag  borders borders";
  }

  .border-countries {
    flex-direction: row;
    padding-left: 2vw;
  }
  .borderCountry {
    width: 5vw;
  }
  .bordersCon {
    justify-content: flex-start;
  }
  .name-n-cap {
    padding-left: 2vw;
  }
  .flag {
    padding-right: 2vw;
  }
  .flag img {
    width: 35vw;
    height: 28vw;
  }
}
button:hover {
  cursor: pointer;
}
